.fade-in-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.fade-in-overlay.fade-out {
  opacity: 0;
}
